# Functions, Scoping, Data Collections 1 & List Comprehensions

In [ ]:
object.action

In [ ]:
list.append
list.remove
    .pop

In [ ]:
str.title
   .upper
   .lower

In [ ]:
doSomething

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Additions

In [1]:
# Differences between Python 2 & Python 3

In [ ]:
# keywords/operator
continue
pass
return
def
class
in
if
for
or
and
while
lambda
None

# Python2
print

# Python3
print()

In [3]:
print "Hello"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello")? (<ipython-input-3-dabf489e9f92>, line 1)

In [4]:
# Python2
name = "Derek"
"Hello, my name is %s" % (name)

'Hello, my name is Derek'

In [5]:
"Hello, my name is {}".format(name)

'Hello, my name is Derek'

In [6]:
# Python3.5+
f"Hello, my name is {name}"

'Hello, my name is Derek'

In [9]:
# 0x0fabc1347 = "Derek"
name = "Derek"
print(name)

# 0x0fdef8976453 = "Derek"
name = "Hawkins"
print(name)

Derek
Hawkins

In [ ]:
# Software Development
# Java
# C#
# Ruby
# JavaScript (Node)
# Go
# Gosu

# Game Development
# C++

# Data Analysis
# Python
# R
# SQL

## Glossary
variable = value stored at a memory address
memory address = data block where values are stored in
value = 
function = 
class = 
argument = the real piece of data that you're passing into a function/method/class
parameter/placeholder/temporary variable = the placeholder data
statement = Any Python operation. Usually starts with 'while', 'for', 'if'
keyword = word that gives Python a set of instructions
index =  number representation of a real value 
iterable = anything that you can loop/iterate over.
iteration =  The next value in an iterable

In [ ]:
# Common interview Question:
# Are arguments in Python passed by value, or by reference?

In [44]:
def username(name):
name = "Tomas"
    print(f"{name.upper()}")
    
    something = "Armando"
username(something)

IndentationError: expected an indented block (<ipython-input-44-22ed436e923e>, line 2)

In [10]:
name1 = "Derek"
name2 = "Michael"
name3 = "Joel"
name4 = "Brian"

# Python keywords
if
in
or
and
is
for
while
break
continue
pass

In [18]:
name1 == "Derek"

True

In [19]:
name2 == "Bay"

False

##### Using 'or' in if statements

##### Using 'and' in if statements

In [13]:
if name1 == "Derek" or name2 == "Michael":
    print("Hey, I know you two!")

Hey, I know you two!

In [14]:
if name1 == "Derek" and name2 == "Michael":
    print("Hey, I know you two!")

Hey, I know you two!

In [15]:
if name1 == "Derek" or name2 == "Bay":
    print("Hey, I know you two!")

Hey, I know you two!

In [17]:
if name1 == "Derek" and name2 == "Bay":
    print("Hey, I know you two!")

In [21]:
if name1 == "Derek" or (name2 == "Michael" and name3 == "Joel"):
    print("Hey, I know you two!")

Hey, I know you two!

In [23]:
if name1 == "Derek" and (name2 == "Bay" and name3 == "Joel"):
    print("Hey, I know you two!")

##### Scope

Global - Anything that's defined within the topmost level of a cell/page
Local - Anything that's defined within a statement

##### Indentation

In [29]:
if name1 == "Derek" or name2 == "Michael":
    print("Hey, I know you two!")

IndentationError: expected an indented block (<ipython-input-29-6063dc1f9601>, line 2)

# Strings (a string a an object. Every string object has actions that can be performed on it)

In [31]:
my_string = "                      This is a string that I'm working on                         "

##### .lstrip()

In [32]:
my_string.lstrip()

"This is a string that I'm working on                         "

##### .rstrip()

In [34]:
my_string.rstrip()

"                      This is a string that I'm working on"

##### .strip()

In [35]:
my_string.strip()

"This is a string that I'm working on"

##### .title()

In [36]:
my_string.title()

"                      This Is A String That I'M Working On                         "

##### .lower()

In [37]:
my_string.lower()

"                      this is a string that i'm working on                         "

##### .upper()

In [38]:
my_string.upper()

"                      THIS IS A STRING THAT I'M WORKING ON                         "

##### .replace()

In [48]:
my_string = "                      This string is a string that I'm working on. It's still a strIng though                         "

In [49]:
my_string.replace("string", "sentence")

"                      This sentence is a sentence that I'm working on. It's still a strIng though                         "

In [ ]:
str

In [50]:
my_string

"                      This string is a string that I'm working on. It's still a strIng though                         "

In [60]:
my_string[40]

't'

##### .join()

In [142]:
statement_list = ["This", "is", "a", "Coding", "Temple", "Python", "Course"]
" ".join(statement_list)

'This is a Coding Temple Python Course'

In [144]:
nums_list = ["1", "2", "3", "4", "5", "6"]
" ".join(nums_list)

'1 2 3 4 5 6'

##### .count()

In [96]:
my_string.count('z') + my_string.count('a')

3

In [161]:
# String slicing
my_string[0:50]

'                      This string is a string that'

In [168]:
# String membership
"I'm" in my_string

True

# Lists

In [90]:
list1 = [1, 2, 5, 8, 34]

In [91]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
5
8
34

##### .append()

In [92]:
list1.append(999)
list1

[1, 2, 5, 8, 34, 999]

In [93]:
list1.append("string")
list1

[1, 2, 5, 8, 34, 999, 'string']

In [94]:
list1.append([0, 9,8 , 7, 6, 5])
list1

[1, 2, 5, 8, 34, 999, 'string', [0, 9, 8, 7, 6, 5]]

In [98]:
list1[7]

[0, 9, 8, 7, 6, 5]

In [103]:
for i in list1:
    if not isinstance(i, list):
        pass
    else:
        for nums in i:
            print(nums)

0
9
8
7
6
5

##### .extend()

In [105]:
list1.extend(["Hey", "Jude"])

In [106]:
list1

[1, 2, 5, 8, 34, 999, 'string', [0, 9, 8, 7, 6, 5], 'Hey', 'Jude']

In [107]:
list1 + ["Ripal", "Derek"]

[1,
 2,
 5,
 8,
 34,
 999,
 'string',
 [0, 9, 8, 7, 6, 5],
 'Hey',
 'Jude',
 'Ripal',
 'Derek']

##### .remove()

In [108]:
list1.remove([0, 9, 8, 7, 6, 5])
list1

[1, 2, 5, 8, 34, 999, 'string', 'Hey', 'Jude']

In [111]:
list1.remove(2)

In [112]:
list1

[1, 5, 8, 34, 999, 'string', 'Hey', 'Jude']

##### .pop()

In [113]:
list1.pop()

'Jude'

In [114]:
list1

[1, 5, 8, 34, 999, 'string', 'Hey']

In [115]:
list1.pop(5)

'string'

In [116]:
list1

[1, 5, 8, 34, 999, 'Hey']

##### .sort()

In [2]:
import random
new_list = [random.randint(0, 100) for i in range(10)]
new_list

[30, 67, 74, 76, 8, 93, 29, 85, 39, 38]

In [134]:
new_list.sort()

In [135]:
new_list

[4, 7, 36, 39, 53, 66, 68, 74, 83, 97]

##### List Slicing [start:stop:step]

In [148]:
new_list[3:8]

[39, 53, 66, 68, 74]

In [149]:
new_list[0::2]

[4, 36, 53, 68, 83]

In [150]:
new_list[::2]

[4, 36, 53, 68, 83]

In [158]:
new_list[-1:-7:-2]

[97, 74, 66]

In [159]:
new_list[-7:-1]

[39, 53, 66, 68, 74, 83]

In [160]:
for i in new_list[3:8]:
    print(i)

39
53
66
68
74

##### List Membership

In [164]:
if "Hey" in list1:
    print("That worked")

That worked

##### Empty List

In [170]:
# How to check whether a lit is empty or not?
if list1:
    print("I have stuff inside my list")

I have stuff inside my list

In [ ]:
# None = does not exist
# not None = does exist

In [174]:
list2 = []

if list2 is not None:
    print("I have stuff inside my list")

I have stuff inside my list

In [172]:
if list3 is None:
    print("it's here")

NameError: name 'list3' is not defined

##### Looping

In [4]:
len(new_list)

10

In [6]:
# Regular Loop
index = 0

while index < len(new_list):
    print(index, new_list[index])
    index+=1

0 30
1 67
2 74
3 76
4 8
5 93
6 29
7 85
8 39
9 38

In [178]:
# Enhanced Loop
for temporary_variable in new_list:
    print(temporary_variable)

4
7
36
39
53
66
68
74
83
97

In [182]:
# len(new_list)
list(range(len(new_list)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
for index in range(len(new_list)):
    print(f"{index+1}: {new_list[index]}")

1: 30
2: 67
3: 74
4: 76
5: 8
6: 93
7: 29
8: 85
9: 39
10: 38

In [183]:
for temporary_variable in range(len(new_list)):
    print(new_list[temporary_variable])

4
7
36
39
53
66
68
74
83
97

# Tuples (pronounced two-ples)

In [10]:
my_name = input("What's my name? ")

What's my name? Michael

In [11]:
print(my_name)

Michael

## Exercise #1 <br>
<p>Create a calculator using functions that asks for two numbers and performs a calculation that the user inputs... Loop until the user chooses not to perform any more calculations.<br><b><i>Hint: Take yesterday's code from the extra exercise...</i></b></p>d
d

In [5]:
# Ask user if they want add, multiply, subtract, or divide

op = input("Please enter desired operator or quit to exit + - * / : ")
x = input('Enter first number: ')
y = input('Enter second number: ')
while True:
    if op == quit:
            break
    elif op == '+':
        answer = (int(x)+int(y))
    elif op == '-':
        answer = (int(x)-int(y))
    elif op == '*':
        answer = (int(x)*int(y))
    elif op == '/':
        answer = (int(x)/int(y))
print(answer)

Please enter desired operator or quit to exit + - * / :
Enter first number: 3
Enter second number: 2

KeyboardInterrupt:

In [2]:
op = input("Please enter desired operator or quit to exit + - * / : ")
x = input('Enter first number: ')
y = input('Enter second number: ')
while True:
  op = input("Please enter desired operator or quit to exit + - * / : ")
  x = input('Enter first number: ')
  if op == quit:
    break
  elif op == '+':
    answer = (int(x) + int(y))
  elif op == '-':
    answer = (int(x)-int(y))
  elif op == '*':
    answer = (int(x)*int(y))
  elif op == '/':
    answer = (int(x)/int(y))
print(answer)

hello world!

## Exercise 2 <br>
<p>Create a pyramid of X's for n number of levels.</p>

In [6]:
def pyramid(n):
  p_str = ''
  n_c = 0
  n2 = n
  print(n * ' '+ 'x' + n * ' ' )
  while n_c<n:
    n_c += 1
    p_str += (2*'x')
    
    n2 -= 1
    print((n2 * ' ') + p_str+(n2 * ' '))
pyramid(6)

      x

In [ ]:
     X
    XXX
   XXXXX
  XXXXXXX
 XXXXXXXXX
XXXXXXXXXXX